---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import FloatingNav from "../components/FloatingNav.astro";
import ReserveCTA from "../components/ReserveCTA.astro";

const { title = "おいらの森" } = Astro.props;
---

<BaseLayout title={title}>
  <Header />
  <FloatingNav />
  <ReserveCTA />
  <main class="pt-[var(--header-offset)]">
    <slot />
  </main>
</BaseLayout>
