---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="利用案内 | おいらの森">
  <section class="section-oir">
    <div class="container-oir">
      <h1>利用案内</h1>
      <p class="mt-4">ここに利用案内の内容を入れていきます。</p>
    </div>
  </section>
</BaseLayout>
