---
import { reserveCta } from "../config/nav";
---

<div class="fixed bottom-4 left-1/2 -translate-x-1/2 z-40">
  <a class="btn btn-primary btn-wide shadow-lg" href={reserveCta.href} target="_blank" rel="noreferrer">
    {reserveCta.label}
  </a>
</div>
